%% -*- erlang -*-
{minimum_otp_vsn, "21.0"}.

{ erl_opts, [
  {parse_transform, lager_transform}
]}.

{ deps, [
  {cowlib, "2.3.0"},
  {cowboy, "2.4.0"},
  {jsx, "2.9.0"},
  {lager, "3.6.7"},
  {folsom, "0.8.5"},
  {amqp_director, "1.4.0"},
  {recon, "2.3.4"},
  {iso8601, "1.2.3"},
  {prometheus, "4.11.0"}
]}.

{dialyzer, [{plt_location, "_build/"},
            {base_plt_apps, [compiler, crypto, erts, inets,
                             kernel, ssl, stdlib, lager,
                             folsom, amqp_director, jsx,
                             recon, cowboy, iso8601, prometheus]}]}.
{plugins, [rebar3_hex]}.

{xref_warnings, true}.

{xref_checks, [exports_not_used, undefined_function_calls]}.

{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "_build/test/"}]}}]}.
