%% -*- erlang -*-
{minimum_otp_vsn, "20.0"}.

{ erl_opts, [
  {parse_transform, lager_transform}
]}.

{ deps, [
  {lager, "3.5.2"},
  {folsom, "0.8.5"},
  {amqp_director, "1.0.0"},
  {recon, "2.3.4"},
  {yaws, ".*", {git, "git://github.com/klacke/yaws.git", {tag, "yaws-2.0.5"}}},
  {iso8601, "1.2.3"},
  {jsx, "2.9.0"}
]}.

{dialyzer, [{plt_location, "_build/"},
            {base_plt_apps, [compiler, crypto, erts, inets,
                             kernel, ssl, stdlib,
                             lager, folsom, amqp_director,
                             jsx, recon, yaws, iso8601]}]}.

{xref_warnings, true}.

{xref_checks, [exports_not_used, undefined_function_calls]}.

{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "_build/test/"}]}}]}.


%% Overrides for non-rebar3 compliant dependencies
{ plugins, [
  {pc, "1.6.0"}
]}.

{overrides,
  [{override, yaws, [
     {plugins, [pc]},
     {provider_hooks, [
       {post,
        [
          {compile, {pc, compile}},
          {clean, {pc, clean}}
        ]
       }]
     }
   ]},
   {override, certifi, [
     {erl_opts, [debug_info]}
   ]}
  ]}.
